participant-services/mobileapp/src/main/resources/mobileapp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.connectpa.publicbillposting/mobileapp"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="mobileapp"
	targetNamespace="http://it.univaq.connectpa.publicbillposting/mobileapp">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.connectpa.publicbillposting/mobileapp">
    	<xsd:element name="postResponse" type="tns:postResponse"/>
		<xsd:element name="receipt" type="tns:receipt"/>
		<xsd:element name="paymentInvoice" type="tns:paymentInvoice"/>

		<xsd:complexType name="postResponse">
			<xsd:sequence>
				<xsd:element name="requestID" type="xsd:string"/>
				<xsd:element name="availableSpaces" type="tns:space" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="space">
			<xsd:sequence>
				<xsd:element name="municipalityCode" type="xsd:string" />
				<xsd:element name="municipalityName" type="xsd:string" />
				<xsd:element name="areaCode" type="xsd:string" />
				<xsd:element name="areaName" type="xsd:string" />
				<xsd:element name="spaceCode" type="xsd:string" />
				<xsd:element name="position" type="tns:coordinates" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="coordinates">
			<xsd:sequence>
				<xsd:element name="latitude" type="xsd:double"/>
				<xsd:element name="longitude" type="xsd:double"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="receipt">
			<xsd:sequence>
				<xsd:element name="requestID" type="xsd:string" />
				<xsd:element name="billingCode" type="xsd:string" />
				<xsd:element name="amountPaid" type="xsd:double" />
				<xsd:element name="transactionCode" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="paymentInvoice">
			<xsd:sequence>
				<xsd:element name="requestID" type="xsd:string"/>
		      	<xsd:element name="billingCode" type="xsd:string"/>
		      	<xsd:element name="amountDue" type="xsd:double"/>
			</xsd:sequence>
		</xsd:complexType>
  	</xsd:schema>
  </wsdl:types>

  <wsdl:message name="postResponse">
    <wsdl:part element="tns:postResponse" name="request"/>
  </wsdl:message>
  <wsdl:message name="receipt">
    <wsdl:part element="tns:receipt" name="request"/>
  </wsdl:message>
  <wsdl:message name="paymentInvoice">
    <wsdl:part element="tns:paymentInvoice" name="request"/>
  </wsdl:message>
 
  <wsdl:portType name="mobileAppPT">
  	<wsdl:operation name="Reply">
      <wsdl:input message="tns:postResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ReplyWithReceipt">
      <wsdl:input message="tns:receipt"/>
    </wsdl:operation>
    <wsdl:operation name="ReplyWithInvoice">
      <wsdl:input message="tns:paymentInvoice"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="mobileAppBinding" type="tns:mobileAppPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Reply">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReplyWithReceipt">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReplyWithInvoice">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="mobileAppService">
    <wsdl:port binding="tns:mobileAppBinding" name="mobileAppPort">
      <soap:address location="http://localhost:9080/mobileapp/mobileapp"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
