caCDs/caCDPosterService/bpelContent/caCDPaymentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.connectpa.publicbillposting/caCDPaymentService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="caCDPaymentService"
	targetNamespace="http://it.univaq.connectpa.publicbillposting/caCDPaymentService">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.connectpa.publicbillposting/caCDPaymentService">

		<xsd:element name="paymentData" type="tns:paymentData"/>
		<xsd:element name="receipt" type="tns:receipt"/>

		<xsd:complexType name="paymentData">
		    <xsd:sequence>
		      <xsd:element name="requestID" type="xsd:string"/>
		      <xsd:element name="billingCode" type="xsd:string"/>
		      <xsd:element name="amountDue" type="xsd:double"/>
		    </xsd:sequence>
	  	</xsd:complexType>

		<xsd:complexType name="receipt">
			<xsd:sequence>
				<xsd:element name="requestID" type="xsd:string" />
				<xsd:element name="billingCode" type="xsd:string" />
				<xsd:element name="amountPaid" type="xsd:double" />
				<xsd:element name="transactionCode" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="paymentData">
  	<wsdl:part element="tns:paymentData" name="request"/>
  </wsdl:message>
  <wsdl:message name="receipt">
  	<wsdl:part element="tns:receipt" name="response"/>
  </wsdl:message>
 
  <wsdl:portType name="caCDPaymentServicePT">
    <wsdl:operation name="SendPayment">
      <wsdl:input message="tns:paymentData"/>
      <wsdl:output message="tns:receipt"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="caCDPaymentServiceBinding" type="tns:caCDPaymentServicePT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendPayment">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="caCDPaymentService">
    <wsdl:port binding="tns:caCDPaymentServiceBinding" name="caCDPaymentServicePort">
      <soap:address location="http://localhost:8080/ode/processes/caCDPaymentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
