participant-services/municipalityposterservice/src/main/resources/municipalityposterservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.connectpa.publicbillposting/municipalityposterservice"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="municipalityposterservice"
	targetNamespace="http://it.univaq.connectpa.publicbillposting/municipalityposterservice">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.connectpa.publicbillposting/municipalityposterservice">
		<xsd:element name="findRequest" type="tns:findRequest"/>
		<xsd:element name="findResponse" type="tns:findResponse"/>
		<xsd:element name="spaceConfirmationRequest" type="tns:spaceConfirmationRequest"/>
		<xsd:element name="billingDetails" type="tns:billingDetails"/>
		<xsd:element name="paymentConfirmation" type="tns:paymentConfirmation"/>

		<xsd:complexType name="findRequest">
		    <xsd:sequence>
		      <xsd:element name="requestID" type="xsd:string"/>
		      <xsd:element name="startDate" type="xsd:date" />
		      <xsd:element name="endDate" type="xsd:date" />
		    </xsd:sequence>
	  	</xsd:complexType>

		<xsd:complexType name="findResponse">
		    <xsd:sequence>
		      <xsd:element name="requestID" type="xsd:string"/>
		      <xsd:element name="startDate" type="xsd:date" />
		      <xsd:element name="endDate" type="xsd:date" />
		      <xsd:element name="availableSpaces" type="tns:space" maxOccurs="unbounded" />
		    </xsd:sequence>
	  	</xsd:complexType>

		<xsd:complexType name="spaceConfirmationRequest">
		    <xsd:sequence>
		      <xsd:element name="requestID" type="xsd:string"/>
		      <xsd:element name="startDate" type="xsd:date" />
		      <xsd:element name="endDate" type="xsd:date" />
		      <xsd:element name="spaces" type="tns:space" maxOccurs="unbounded" />
		    </xsd:sequence>
	  	</xsd:complexType>

		<xsd:complexType name="billingDetails">
	    	<xsd:sequence>
		      <xsd:element name="requestID" type="xsd:string"/>
		      <xsd:element name="totalAmount" type="xsd:double" />
		  	  <xsd:element name="bills" type="tns:paymentBill" maxOccurs="unbounded" />
		    </xsd:sequence>
	  	</xsd:complexType>

		<xsd:complexType name="paymentBill">
		    <xsd:sequence>
		      <xsd:element name="requestID" type="xsd:string"/>
		      <xsd:element name="municipalityCode" type="xsd:string" />
			  <xsd:element name="municipalityName" type="xsd:string" />
			  <xsd:element name="confirmed" type="xsd:boolean"/>
		      <xsd:element name="amountDue" type="xsd:double" />
		      <xsd:element name="billingCode" type="xsd:string" />
		    </xsd:sequence>
	  	</xsd:complexType>

		<xsd:complexType name="paymentConfirmation">
		    <xsd:sequence>
		      <xsd:element name="requestID" type="xsd:string"/>
		      <xsd:element name="municipalityName" type="xsd:string" />
			  <xsd:element name="billingCode" type="xsd:string"/>
			  <xsd:element name="confirmed" type="xsd:boolean"/>
		    </xsd:sequence>
	  	</xsd:complexType>

        <xsd:complexType name="spaceInfo">
		    <xsd:sequence>
		      <xsd:element name="requestID" type="xsd:string"/>
		      <xsd:element name="space" type="tns:space" />
		    </xsd:sequence>
	  	</xsd:complexType>

        <xsd:complexType name="getSelectedSpaceRequest">
		    <xsd:sequence>
		      <xsd:element name="requestID" type="xsd:string"/>
		    </xsd:sequence>
	  	</xsd:complexType>


		<xsd:complexType name="space">
			<xsd:sequence>
				<xsd:element name="municipalityCode" type="xsd:string" />
				<xsd:element name="municipalityName" type="xsd:string" />
				<xsd:element name="areaCode" type="xsd:string" />
				<xsd:element name="areaName" type="xsd:string" />
				<xsd:element name="spaceCode" type="xsd:string" />
				<xsd:element name="position" type="tns:coordinates" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="coordinates">
		    <xsd:sequence>
		      <xsd:element name="latitude" type="xsd:double"/>
		      <xsd:element name="longitude" type="xsd:double"/>
		    </xsd:sequence>
	  	</xsd:complexType>

	</xsd:schema>
  </wsdl:types>

  <wsdl:message name="findRequest">
    <wsdl:part element="tns:findRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="findResponse">
  	<wsdl:part element="tns:findResponse" name="response"/>
  </wsdl:message>
  <wsdl:message name="spaceConfirmationRequest">
    <wsdl:part element="tns:spaceConfirmationRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="billingDetails">
  	<wsdl:part element="tns:billingDetails" name="response"/>
  </wsdl:message>
  <wsdl:message name="paymentConfirmation">
    <wsdl:part element="tns:paymentConfirmation" name="request"/>
  </wsdl:message>
 
  <wsdl:portType name="municipalityPosterServicePT">
    <wsdl:operation name="FindMunicipalityPostingSpaces">
      <wsdl:input message="tns:findRequest"/>
      <wsdl:output message="tns:findResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ConfirmPostRequest">
   	  <wsdl:input message="tns:spaceConfirmationRequest"/>
   	  <wsdl:output message="tns:billingDetails"/>
    </wsdl:operation>
    <wsdl:operation name="PaymentConfirmation">
   	  <wsdl:input message="tns:paymentConfirmation"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="municipalityPosterServiceBinding" type="tns:municipalityPosterServicePT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FindMunicipalityPostingSpaces">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmPostRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PaymentConfirmation">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="municipalityPosterService">
    <wsdl:port binding="tns:municipalityPosterServiceBinding" name="municipalityPosterServicePort">
      <soap:address location="http://localhost:9080/municipalityposterservice/municipalityposterservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
